/* The entire navbar both main and sub */

.navbar {
  color: white;
  background: #35323b;
}

.main-nav-container {
  height: 52px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* The main navbar (upper section) */

.main-nav {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
}

/* Items in the main section (marvel logo, search button) */

.nav-item {
  height: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  padding: 0 25px;
}

.nav-item-active {
  background: #000000;
}

/* Items in the sub section (videos, explore the universe) */

.sub-nav-item {
  height: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
}

.sub-nav-item-active {
  color: #c2bfbf;
  border-bottom: 1px solid red;
}

.sub-nav > ul {
  display: flex;
  justify-content: center;
}

/* The signin box */

.main-nav-signin {
  width: 400px;
  height: 267px;
  background: #000000;
  border: 1px solid #292929;
  padding: 50px 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 52px;
}

.nav-signin-button {
  width: 240px;
  height: 52px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
  clip-path: polygon(0% 30%, 5% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%)
}

/* Buttons in the signin box */

.signin:hover {
  background: #d0d0d0;
}

.create-account {
  background: none;
  color: white;
  border: 1px solid white;
}

.create-account:hover {
  border: 1px solid #d0d0d0;
}

/* The box that displays when hovering sub-nav item  */

.sub-nav-category {
  color: #202020;
  background: #fff;
  height: 366px;
  width: 100%;
  position: absolute;
  z-index: 80;
}
