* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar {
  background: #1c1a1f;
  color: white;
}

.nav-main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 52px;
}

.nav-main {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0;
}

.nav-item {
  height: 52px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 25px;
}

.nav-item-active {
  background: #000000;
}

.nav-main-sub {
  width: 400px;
  height: 267px;
  background: #000000;
  border: 1px solid #292929;
  padding: 50px 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 52px;
}

.nav-sub-button {
  width: 240px;
  height: 66px;
  border: 0;
  margin: 10px 0;
  clip-path: polygon(0% 30%, 5% 0%, 100% 0, 100% 70%, 95% 100%, 0 100%)
}

@media all and (min-width: 1200px) {
  .nav-main-sub {
    left: calc()
  }
}
